<ngx-smart-modal #popupAddProgram customClass="msg-modal-add-program" [identifier]="'popupAddProgram'" [dismissable]="false">
    <div class="CMSPopupHeader">
        <span class="CMSTitlePopup">Thêm chương trình</span>
    </div>
    <div class="CMSPopupBody" [perfectScrollbar] style="position: relative; max-height: calc(100vh - 212px);">
        <form [formGroup]="createProgramForm">
            <div class="CMSCreateBox">
                <h4 class="CMSCreateBoxHeader">
                    Ảnh đại diện
                </h4>
                <div class="CMSCreateBoxContent">
                    <div class="CMSCreateBoxVideoLoading">
                        <div class="CMSCreateBoxUploadWrapper">
                            <div class="CMsVideoUploadControlWrapper">
                                <label class="CMSUploadVideoLabel" data-toggle="modal" data-target="#__mediaUploadImage" (click)="mediaImageModal.show()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Chèn ảnh
                                </label>
                            </div>
                            <div *ngIf="imageInsert">
                                <img [src]="environment.storage_url + imageInsert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CMSCreateBox">
                <h4 class="CMSCreateBoxHeader">
                    Ảnh khác
                </h4>
                <div class="CMSCreateBoxContent">
                    <div class="form-group" id="CMSImageOtherWrapper">
                        <div id="CMSSelectedImageList">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="CMSOtherImageItem">
                                        <div class="CMSBTNRemoveImageProgram"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="CMSOtherImageItem">
                                        <div class="CMSButtonAddMoreImages">
                                            <div class="CMSButtonWrapper">
                                                <i class="fa fa-plus fa-lg"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CMSCreateBox">
                <h4 class="CMSCreateBoxHeader">
                    Thông tin chương trình
                </h4>
                <div class="CMSCreateBoxContent">
                    <div class="form-group">
                        <div class="row">
                            <label for="CMSProgramTitle" class="col-sm-3 control-label">Tên</label>
                            <div class="col-sm-9">
                                <input formControlName="name" autocomplete="off" type="text" class="form-control" id="CMSProgramTitle">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="CMSProgramDescription" class="col-sm-3 control-label">Mô tả ngắn</label>
                            <div class="col-sm-9">
                                <input formControlName="description" autocomplete="off" type="text" class="form-control input-lg" id="CMSProgramDescription">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label">Trạng thái</label>
                            <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" formControlName="active" checked="checked">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CMSCreateBox">
                <h4 class="CMSCreateBoxHeader">
                    Thông tin SEO
                </h4>
                <div class="CMSCreateBoxContent">
                    <div class="form-group">
                        <div class="row">
                            <label for="CMSProgramMetaTitle" class="col-sm-3 control-label">Meta Title</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="seo_title" autocomplete="off" class="form-control" id="CMSProgramMetaTitle">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="CMSProgramMetaKeyword" class="col-sm-3 control-label">Meta Keyword</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="seo_keywords" autocomplete="off" class="form-control" id="CMSProgramMetaKeyword">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="CMSProgramMetaDescription" class="col-sm-3 control-label">Meta Description</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="seo_description" autocomplete="off" class="form-control input-lg" id="CMSProgramMetaDescription">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="CMSPopupFooter">
        <button type="button">Cập nhật</button>
        <button type="button" (click)="popupAddProgram.close()">Huỷ</button>
    </div>
</ngx-smart-modal>
<app-modal-media-images #mediaImageModal (messageEventInsertImage)="eventReceiveImageInsert($event)"></app-modal-media-images>
