<ngx-smart-modal #popupUserPassword [identifier]="'popupUserPassword'" [dismissable]="false">
    <div *ngIf="popupUserPassword.hasData()">
        <form [formGroup]="userForm">
        <div class="CMSPopupHeader">
            <span class="CMSTitlePopup">Reset password</span>
        </div>
        <div class="CMSPopupBody">
            <div id="AccountUpdatePasswordForm">
                <span>Nhập mật khẩu</span>
                <input type="password" formControlName="password" id="txt_password_update">
            </div>
            <input type="hidden" formControlName="id" [ngModel]="popupUserPassword.getData().id ">
        </div>
        <div class="CMSPopupFooter">
            <button type="button" [disabled]="userForm.invalid" (click)="onSubmit()">Cập nhật</button>
            <button type="button" (click)="popupUserPassword.close()">Huỷ</button>
        </div>
        </form>
    </div>
</ngx-smart-modal>
