<div bsModal #videoHighlightModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="CMSModalListVideoPublished">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" id="CMSBodyModalVideoHighlight">

                    <tabset [vertical]="true" class="CMSTabsetModalVideoHighlight">
                        <tab>
                            <ng-template tabHeading>
                                <i class="fa fa-youtube-play fa-lg"></i>
                                Chọn video
                                <div class="_6ekw">Chọn video để hiển thị trong mục nổi bật</div>
                            </ng-template>
                            <div class="_6rq0">
                                <div class="_6rp2  _50f7 _2ien">Chọn tối đa 5 video</div>
                                <div class="_6rp1  _50f7 _2ien _2iex">4/5</div>
                            </div>
                            <div class="_6nr7  _2ieq">Bạn có thể chọn tới 5 video để hiển thị nổi bật ở đầu Trang.</div>
                            <div class="CMSListVideoPublic"
                                 ngxInfiniteScroller
                                 strategy="scrollingToBoth"
                                 (onScrollDown)="onScrollDown()">
                                <div class="CMSVideoPublicItem" *ngFor="let video of videos">
                                    <div class="_6nhq">
                                        <div class="CMSVideoPublicItemAvatar">
                                            <div class="_3g12">
                                                <div class="_28_z">
                                                    <img class="_28_- img" [src]="environment.storage_url + video.thumbnails" alt="">
                                                    <div class="_28__">
                                                        <div class="_6nhr _3g13"
                                                             style="background-repeat: no-repeat; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset; background-position: center center;" [ngStyle]="{ 'background-image': 'url(' + environment.storage_url + video.thumbnails + ')'}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="CMSVideoPublicItemInformation">
                                            <div class="_6q6e _6fjm _6fjq  _50f7 _2iem _2iev" role="heading" aria-level="4" style="max-height: 36px; -webkit-line-clamp: 2;">
                                                {{ video.title }}
                                            </div>
                                            <div class="_6nht  _2iep _2iex">
                                                <span class="_6gok">{{video.element.time_publish | timeAgo}}</span>
                                                <span class="_6gok">280K lượt xem</span>
                                                <span class="_6gok">15 bình luận</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_6os_ _6osy">
                                        <div class="_6otz"
                                             data-tooltip-content="Unselect a video before adding this one."
                                             data-hover="tooltip" id="js_2cl"><i alt=""
                                                                                 class="img sp_-HmUbA4wUN9 sx_4ec9b2"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="_6q6n">
                                <button class="btn btn-outline-dark" type="button">Hủy</button>
                                <button aria-pressed="true" class="btn CMSCustomBtn" type="button">Lưu</button>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i class="fa fa-arrows-alt fa-lg"></i>
                                Sắp xếp video
                                <div class="_6ekw">Thay đổi thứ tự video nổi bật</div>
                            </ng-template>

                            <div class="_6rq0">
                                <div class="_6rp2  _50f7 _2ien">Sắp xếp video</div>
                            </div>
                            <div class="_6nr7  _2ieq">Kéo rồi thả video để thay đổi thứ tự xuất hiện.</div>

                        </tab>
                    </tabset>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
