<div class="animated fadeIn">
    <div class="email-app mb-4">
        <main class="inbox">
            <div class="toolbar" id="CMSLibraryToolBar">
                <label>
                    Thư viện video
                </label>
                <div class="btn-group">
                    <div *ngIf="selectItem">
                        <a *ngIf="role === 'Secretary'" class="btn btn-square btn-danger" type="button" (click)="eventDeleteItem()">
                            <span class="fa fa-trash-o"></span> Gỡ video
                        </a>
                    </div>
                    <a *ngIf="role === 'Secretary'" class="btn btn-square btn-danger" type="button" (click)="videoHighlightModal.show()">
                        <i class="fa fa-plus fa-lg"></i> Video nổi bật
                    </a>
                </div>
                <div class="btn-group float-right">
                    <span class="CMSPageStats" *ngIf="videos && videos.total !== 0">
                        {{ videos.from + ' đến ' + videos.to + ' trong tổng số ' + videos.total}}
                    </span>
                    <button class="btn btn-light" type="button" (click)="prevPage()"
                            [disabled]="videos && !videos.prev_page_url">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-light" type="button" (click)="nextPage()"
                            [disabled]="videos && !videos.next_page_url">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="toolbar" id="CMSToolbarFillter">
                <label>
                    <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Tìm kiếm" type="text">
                </label>
                <div class="CMSFilterSelect">
                    <select id="select1" name="select1" class="form-control">
                        <option value="0">Please select</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                    </select>
                </div>
            </div>
            <ul class="messages" *ngIf="videos" [perfectScrollbar] style="position: relative; max-height: calc(100vh - 370px);">
                <li class="message unread" *ngFor="let video of videos.data" [ngClass]="{selected: isActive(video)}" (click)="selectVideo(video)">
                    <div class="actions">
                        <span class="action">
                            <input type="checkbox" [checked]=" selected?.id === video.id">
                        </span>
                        <span class="action" id="CMSHighlightVideo">
                            <button class="btn btn-ratting">
                                <span [ngClass]="(video.highlight === 1) ? 'fa fa-star' : 'fa fa-star-o'"></span>
                            </button>
                        </span>
                    </div>
                    <div class="CMSVideoItemAvatarWrapper">
                        <img class="CMSVideoItem_Avatar"
                             [src]="video.thumbnails ? environment.storage_url + video.thumbnails : ''"
                             alt="{{ video.title }}">
                    </div>
                    <div class="CMSVideoItemInfoWrapper">
                        <a (click)="eventViewDetailVideo(video.id)">
                            {{ video ? video.title : '' }}
                        </a>
                        <div class="CMSVideoItemInfoDetail">
                            <label>
                                Ngày tạo
                            </label>
                            <span>{{ video.element.time_created | date : 'dd/MM/yyyy hh:mm:ss a' }}</span><br>
                            <label>
                                Ngày xuất bản
                            </label>
                            <span>{{ video.element.publish_at | date : 'dd/MM/yyyy hh:mm:ss a' }}</span><br>
                            <label>
                                Người tạo</label>
                            <span>{{ video.element.user_created.name }}</span>
                             -
                            <label>
                                Xuất bản bởi</label>
                            <span>{{ video.element.user_publish.name }}</span>
                            <br>
                            <label>
                                Lượt xem</label>
                            <span>0</span><br>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
</div>
<app-modal-video-highlight #videoHighlightModal></app-modal-video-highlight>
