<div class="animated fadeIn">
    <div class="email-app mb-4">

        <main class="inbox">
            <div class="toolbar">
                <div class="btn-group">
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-envelope"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-star"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-star-o"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-bookmark-o"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-reply"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-reply-all"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-mail-forward"></span>
                    </button>
                </div>
                <button class="btn btn-light" type="button">
                    <span class="fa fa-trash-o"></span>
                </button>
                <div class="btn-group">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-tags"></span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-danger"> Home</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-info"> Job</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-success"> Clients</span>
                        </a>
                        <a class="dropdown-item" href="#">add label
                            <span class="badge badge-warning"> News</span>
                        </a>
                    </div>
                </div>
                <div class="btn-group float-right">
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-light" type="button">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
            <ul class="messages">
                <li class="message unread">
                    <div class="actions">
                            <span class="action">
                            <i class="fa fa-square-o"></i>
                            </span>
                        <span class="action">
                            <i class="fa fa-star-o"></i>
                            </span>
                    </div>
                    <div class="CMSVideoItemAvatarWrapper">
                        <img class="CMSVideoItem_Avatar" src="http://video-thumbs.vcmedia.vn/vtv/ijz-bet8rewrytvvmh5s1vc2x6zbjm/2016/06/27/2706-chuyen-dong-trua-1467006309111-a481f.jpg">
                    </div>
                    <div class="CMSVideoItemInfoWrapper">
                        <h3 original-title="Chuyển động 24h trưa - 27/6/2016">
                            Chuyển động 24h trưa - 27/6/2016
                        </h3>
                        <div class="CMSVideoItemInfoDetail">
                            <label>
                                Ngày tạo
                            </label>
                            <span>Thứ Hai, 27/6/2016 12:47</span><br>
                            <label>
                                Ngày xuất bản
                            </label>
                            <span>Thứ Sáu, 29/7/2016 16:09</span><br>
                            <label>
                                Người tạo</label>
                            <span>admin</span><br>
                            <label>
                                Lượt xem</label>
                            <span>0</span><br>
                        </div>
                    </div>
                </li>

                <li class="message unread">
                    <div class="actions">
                            <span class="action">
                            <i class="fa fa-square-o"></i>
                            </span>
                        <span class="action">
                            <i class="fa fa-star-o"></i>
                            </span>
                    </div>
                    <div class="CMSVideoItemAvatarWrapper">
                        <img class="CMSVideoItem_Avatar" src="http://video-thumbs.mediacdn.vn/vtv/2019/1/17/1701vtv-ket-noi-15477433711611443751963-5fb4f1548234765815_thumb6.jpg">
                    </div>
                    <div class="CMSVideoItemInfoWrapper">
                        <h3 original-title="Những chương trình đặc sắc Tết Kỷ Hợi trên VTV6">
                            Những chương trình đặc sắc Tết Kỷ Hợi trên VTV6
                        </h3>
                        <div class="CMSVideoItemInfoDetail">
                            <label>
                                Ngày tạo
                            </label>
                            <span>Thứ Hai, 27/6/2016 12:47</span><br>
                            <label>
                                Ngày xuất bản
                            </label>
                            <span>Thứ Sáu, 29/7/2016 16:09</span><br>
                            <label>
                                Người tạo</label>
                            <span>admin</span><br>
                            <label>
                                Lượt xem</label>
                            <span>0</span><br>
                        </div>
                    </div>
                </li>

                <li class="message unread">
                    <div class="actions">
                            <span class="action">
                            <i class="fa fa-square-o"></i>
                            </span>
                        <span class="action">
                            <i class="fa fa-star-o"></i>
                            </span>
                    </div>
                    <div class="CMSVideoItemAvatarWrapper">
                        <img class="CMSVideoItem_Avatar" src="http://video-thumbs.mediacdn.vn//vtv/2019/1/23/vandai-1548235159945132111112-b203c_thumb6.jpg">
                    </div>
                    <div class="CMSVideoItemInfoWrapper">
                        <h3 original-title="Ngân Văn Đại tiết lộ tình hình ĐT Việt Nam trước trận tứ kết Asian Cup 2019">
                            Ngân Văn Đại tiết lộ tình hình ĐT Việt Nam trước trận tứ kết Asian Cup 2019
                        </h3>
                        <div class="CMSVideoItemInfoDetail">
                            <label>
                                Ngày tạo
                            </label>
                            <span>Thứ Hai, 27/6/2016 12:47</span><br>
                            <label>
                                Ngày xuất bản
                            </label>
                            <span>Thứ Sáu, 29/7/2016 16:09</span><br>
                            <label>
                                Người tạo</label>
                            <span>admin</span><br>
                            <label>
                                Lượt xem</label>
                            <span>0</span><br>
                        </div>
                    </div>
                </li>

            </ul>
        </main>
    </div>
</div>
