<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4 offset-md-6 mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input class="form-control ng-pristine ng-valid ng-touched" placeholder="Tìm kiếm" type="text">
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <button aria-pressed="true" class="btn btn-square btn-primary active" style="float: right" type="button" (click)="ngxSmartModalService.getModal('popupAddUser').open()">
                <i class="fa fa-plus fa-lg"></i> Thêm mới
            </button>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered" id="CMSFixTable">
                        <thead>
                        <tr>
                            <th>Tên người dùng</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Sửa</th>
                            <th style="width: 10%;">Reset mật khẩu</th>
                            <th style="width: 10%;">Phần quyền</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="users">
                            <tr *ngFor="let user of users.data">
                                <td class="CMSUserName">
                                    <img src="assets/img/no-avatar.gif" class="HasImg" onerror="CmsBm.OnImageError(this);" alt="">
                                    <a>{{ user.username }}</a>
                                </td>
                                <td class="CMSUserEmail">
                                    {{ user.email }}
                                </td>
                                <td class="CMSUserStatus">
                                    <span class="badge badge-success">Active</span>
                                </td>
                                <td class="CMSUserEdit">
                                    <a class="fa fa-pencil-square-o fa-lg" (click)="ngxSmartModalService.getModal('popupUserDetail').open(); selectUser(user)"></a>
                                </td>
                                <td class="CMSUserResetPass">
                                    <a class="icon-refresh icons font-2xl d-block" (click)="ngxSmartModalService.getModal('popupUserPassword').open(); changePasswordUser(user)"></a>
                                </td>
                                <td class="CMSUserRole">
                                    <a class="icon-shield icons font-2xl d-block" (click)="changePermissionUser(user)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group float-right">
                        <button class="btn btn-light" type="button" (click)="prevPage()" [disabled]="users && !users.prev_page_url">
                            <span class="fa fa-chevron-left"></span>
                        </button>
                        <button class="btn btn-light" type="button" (click)="nextPage()" [disabled]="users && !users.next_page_url">
                            <span class="fa fa-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-userinfomation></app-modal-userinfomation>
<app-modal-userpassword></app-modal-userpassword>
<app-modal-adduser (messageEventAddUser)="receiAddUserEvent($event)"></app-modal-adduser>
<app-modal-user-permission *ngIf="selectedUser"></app-modal-user-permission>
