<div class="row">
    <div class="col-md-12">
        <div class="tile box-primary">
            <div class="t-header with-border">
                <a [routerLink]="['/manager/category/create']" aria-pressed="true" class="btn btn-primary active" style="float: right">
                    <i class="fa fa-plus fa-lg"></i> Thêm mới
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="t-body">

                <div class="dd" *ngIf="listCategories">
                    <ol class="dd-list">
                        <li *ngFor="let category of listCategories" class="dd-item" data-id="{{ category.id }}">
                            <div class="dd-handle">
                                <a [routerLink]="['/manager/category/' + category.id + '/edit']">{{ category.Name | titlecase }}</a>
                            </div>
                            <div *ngIf="(category.children).length">
                                <app-children-category [category]="category.children"></app-children-category>
                            </div>
                        </li>
                        <!--<li class="dd-item" data-id="2">
                            <div class="dd-handle">Item 2</div>
                        </li>
                        <li class="dd-item" data-id="3">
                            <div class="dd-handle">Item 3</div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="4">
                                    <div class="dd-handle">Item 4</div>
                                </li>
                            </ol>
                        </li>-->
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
