<div class="animated fadeIn">
    <form [formGroup]="editPostForm">
        <input
                type="hidden"
                formControlName="id"
                [(ngModel)]="post.id"
                required class="form-control">
        <div class="row" id="CMSFullScreen">
            <div id="IMSNewsEditWrapper">
                <div class="col-sm-5" id="CMSTabEditor">
                    <div id="NLEditorHeader">
                        <app-editor-toolbar (dataOutputImage)="OutputImage($event)" (dataOutputVideo)="OutputVideo($event)" (dataOutputIframe)="OutputIframe($event)"></app-editor-toolbar>
                    </div>
                    <div class="clearfix"></div>
                    <div id="IMSNewsLayout">
                        <app-editor-container #editorContainer [contentEditor]="post.Content"></app-editor-container>
                    </div>
                </div>
                <div class="col-sm-7" id="CMSTabInfo">
                    <div id="IMSActionBar">
                        <div class="NotPermission"
                             [hidden]="!editPostForm.controls['categories'].invalid">
                            Bạn chưa chọn chuyên mục chính!
                        </div>
                        <a *ngIf="post.Status == 'DRAFT'"
                           class="IMSActionBtn btn btn-success btn-sm"
                           data-action="Send"
                           (click)="eventSendToEditor(post.id)"
                        >
                            Gửi biên tập
                        </a>
                        <a *ngIf="post.Status == 'WAITING_EDITOR' && ( role === 'Secretary' || role === 'Editor' )"
                           class="IMSActionBtn btn btn-success btn-sm"
                           data-action="Send"
                           (click)="eventSendToPublish(post.id)"
                        >
                            Gửi xuất bản
                        </a>
                        <a
                            class="IMSActionBtn btn btn-success btn-sm"
                            data-action="Save"
                           [hidden]="editPostForm.controls['categories'].invalid" (click)="eventUpdatePost()"
                        >
                            Lưu
                        </a>

                        <a *ngIf="post.Status != 'PUBLISHED' && role === 'Secretary'"
                           class="IMSActionBtn btn btn-primary btn-sm"
                           data-action="Publish"
                           [hidden]="editPostForm.controls['categories'].invalid"
                           (click)="eventPublish(post.id)"

                        >
                            Xuất bản
                        </a>
                        <a
                            *ngIf="post.Status == 'DRAFT'"
                            class="IMSActionBtn btn btn-danger btn-sm" data-action="Remove"
                            (click)="eventDelete(post.id)"
                        >
                            Xóa
                        </a>
                        <a
                                *ngIf="post.Status == 'PUBLISHED' && role === 'Secretary'"
                                class="IMSActionBtn btn btn-danger btn-sm" data-action="Remove"
                                (click)="eventUnPublish(post.id)"
                        >
                            Gỡ xuống
                        </a>
                        <a class="IMSActionBtn btn btn-default btn-sm" data-id="0" data-action="Close">Đóng</a>
                    </div>
                    <div id="IMSTabInfoDetail" [perfectScrollbar]>
                        <div class="IMSInfoBlock" id="IMSNewsInfo">
                            <div class="IMSInfoBlockName" style="top: 98px;">Thông tin cơ bản</div>
                            <div class="IMSInfoBlockContent">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label>Chuyên mục chính <span class="IMSRequireField">*</span></label>
                                        <select
                                                class="form-control FSelectField"
                                                [ngClass]="{'is-invalid': editPostForm.controls['categories'].invalid && (editPostForm.controls['categories'].dirty || editPostForm.controls['categories'].touched) }"
                                                id="IMS_FormEdit_PrimaryZone"
                                                formControlName="categories"
                                                data-placeholder="Chọn chuyên mục"
                                                [(ngModel)]="post.Category"
                                        >
                                            <option value="">Chọn chuyên mục</option>
                                            <option *ngFor="let category of categories"
                                                    [ngValue]="category.id"
                                                    [selected]="category.id == post.Category"
                                            >
                                                {{ category?.text }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-12" id="IMS_Title_Wrapper">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <label>Tiêu đề chính <span class="IMSRequireField">*</span> (Hiển thị ở
                                                    tin chi
                                                    tiết)</label>
                                            </div>
                                            <div class="col-sm-2">
                                                <p id="IMS_Title_RemainingWords" class="IMS_RightLabel">0/650 kí tự</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                        <textarea class="form-control"
                                                  [ngClass]="{'is-invalid': editPostForm.controls['title'].invalid && (editPostForm.controls['title'].dirty || editPostForm.controls['title'].touched) }"
                                                  id="IMS_FormEdit_Title"
                                                  formControlName="title"
                                                  placeholder="Tiêu đề bài viết dài tối đa 25 từ"
                                                  type="text"
                                                  [(ngModel)]='post.Title'
                                        ></textarea>
                                                <button class="btn btn-primary btn-sm" id="IMS_CheckTitle_Btn"
                                                        original-title="Kiểm tra trùng lặp tiêu đề" type="button">
                                                    <i class="fa fa-check"></i> Kiểm tra
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12" id="IMS_InitSapo_Wrapper">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Mô tả ngắn <span class="IMSRequireField">*</span></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="IMS_RightLabel" id="IMS_InitSapo_RemainingWords">0/180 kí
                                                    tự</p>
                                            </div>
                                        </div>
                                        <textarea
                                                class="form-control IMS_Textarea"
                                                [ngClass]="{'is-invalid': editPostForm.controls['sub_description'].invalid && (editPostForm.controls['sub_description'].dirty || editPostForm.controls['sub_description'].touched) }"
                                                id="IMS_FormEdit_InitTxtDes"
                                                formControlName="sub_description"
                                                type="text"
                                                autocomplete="off"
                                                [(ngModel)]='post.SubDescription'
                                        ></textarea>
                                    </div>

                                    <div class="form-group col-sm-12" id="IMS_Sapo_Wrapper">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Mô tả <span class="IMSRequireField">*</span></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="IMS_RightLabel" id="IMS_Sapo_RemainingWords">9/180 kí tự</p>
                                            </div>
                                        </div>
                                        <textarea
                                                class="form-control IMS_Textarea"
                                                [ngClass]="{'is-invalid': editPostForm.controls['description'].invalid && (editPostForm.controls['description'].dirty || editPostForm.controls['description'].touched) }"
                                                id="IMS_FormEdit_TxtDes"
                                                formControlName="description"
                                                placeholder="Sapo dài tối đa 58 từ"
                                                style="height: 63px; overflow-y: hidden;"
                                                autocomplete="off"
                                                [(ngModel)]='post.Description'
                                        >VTV.vn - </textarea>
                                    </div>

                                    <div class="form-group col-sm-12" id="IMS_Avatar_Wrapper">
                                        <app-avatar (dataOutputImage)="OutputAvatar($event)" (dataOutputStorage)="OutputStorage($event)" [oldImage]="post.Thumbnails"></app-avatar>
                                        <input type="hidden" formControlName="thumbnails"
                                               [(ngModel)]="post.Thumbnails"
                                               required class="form-control">
                                        <input type="hidden" formControlName="storage_id"
                                               [(ngModel)]="post.Storage"
                                               required class="form-control">
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label>Loại tin</label>
                                        <select
                                                class="form-control FSelectField"
                                                id="IMS_FormEdit_NewsType" formControlName="type"
                                                [(ngModel)]="post.Type"
                                        >
                                            <option value="post" [selected]="post.Type == 'post'">Thông thường</option>
                                            <option value="video" [selected]="post.Type == 'post_video'">Bài video
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-12" id="IMS_DateDistribution_Wrapper">
                                        <label><i class="fa fa-calendar"></i> Ngày xuất bản</label>
                                        <input [owlDateTime]="dt1"
                                               [owlDateTimeTrigger]="dt1"
                                               id="IMS_FormEdit_Date"
                                               [ngClass]="{'is-invalid': editPostForm.controls['publish_at'].invalid && (editPostForm.controls['publish_at'].dirty || editPostForm.controls['publish_at'].touched) }"
                                               formControlName="publish_at"
                                               autocomplete="off"
                                               [(ngModel)]='post.PublishAt'
                                        >
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="IMSInfoBlock" id="IMSThirdInfoBlock">
                            <div class="IMSInfoBlockName">Cài đặt SEO</div>
                            <div class="IMSInfoBlockContent">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Tiêu đề hiển thị trên Google</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="IMS_RightLabel" id="IMS_Metatitle_RemainingWords">0/600 kí
                                                    tự</p>
                                            </div>
                                        </div>
                                        <input id="IMS_FormEdit_MetaTitle"
                                               type="text"
                                               class="form-control"
                                               formControlName="seo_title"
                                               [(ngModel)]='post.MetaTitle'
                                        >
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Mô tả hiển thị trên Google</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <p id="IMS_MetaDescription_RemainingWords" class="IMS_RightLabel">0/1500
                                                    kí tự</p>
                                            </div>
                                        </div>
                                        <textarea formControlName="seo_description" id="IMS_FormEdit_MetaDescription"
                                                  type="text"
                                                  class="form-control IMS_Textarea" placeholder="VTV.vn - "
                                                  [(ngModel)]='post.MetaDescription'
                                        ></textarea>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label>Từ khóa chủ đạo</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <p class="IMS_RightLabel" id="KeywordFocusCount">Ít nhất 5 ký tự</p>
                                            </div>
                                        </div>
                                        <input formControlName="seo_keywords" type="text" value="" class="form-control"
                                               id="IMS_FormEdit_KeywordFocus"
                                               placeholder="Hãy viết vào đây 1 từ khóa duy nhất mà bạn cho rằng nó quan trọng nhất bài (2 - 6 chữ)"
                                               [(ngModel)]='post.MetaKeyWord'
                                        >
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
