td {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif  !important;
  font-size: 12px !important;
}
ul {
  padding: 0 !important;
}
ul li {
  list-style: none;
}
a {
  outline: none;
  text-decoration: none;
  color: #0073aa;
  -webkit-transition-property: border, background, color;
  transition-property: border, background, color;
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

a, div {
  outline: 0
}
// Variable overrides
.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: unset !important;
}

.email-app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #fff;
  border: 1px solid #c8ced3;
}

.email-app main {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  padding: 1rem;
}

.email-app .inbox .toolbar {
  padding-bottom: 1rem;
  border-bottom: 1px solid #c8ced3;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.email-app .inbox .messages {
  padding: 0;
  list-style: none;
}

.email-app .inbox .message:hover {
  background: #f0f3f5;
}

.email-app .inbox .message {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 2rem;
  cursor: pointer;
  border-bottom: 1px solid #c8ced3;
}

.email-app .inbox .messages {
  padding: 0;
  list-style: none;
}

.email-app .inbox .message a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.email-app .inbox .message .actions {
  position: absolute;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.email-app .inbox .message .actions .action {
  width: 2rem;
  margin-bottom: .5rem;
  color: #c8ced3;
  text-align: center;
}

.email-app .inbox .message.unread .header, .email-app .inbox .message.unread .title {
  font-weight: 700;
}

.email-app .inbox .message .header .date {
  margin-left: auto;
}

.email-app .inbox .message .description {
  font-size: 12px;
}

.email-app .inbox .message .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: .5rem;
}

.email-app .inbox .message.unread .header, .email-app .inbox .message.unread .title {
  font-weight: 700;
}

.email-app .inbox .message .title {
  margin-bottom: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-app .message .details .header .avatar {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.CMSVideoItemAvatarWrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: 155px
}

.CMSVideoItem_Avatar {
  width: 100%;
  float: left;
  max-height: 90px;
}

.CMSVideoItemInfoWrapper {
  display: inline-block;
  width: 400px;
  margin-left: 10px;
  line-height: 1.2;
}

.CMSVideoItemInfoWrapper h3 {
  color: #256CDE;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.CMSVideoItemInfoWrapper a {
  color: #256CDE !important;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.CMSVideoItemInfoWrapper label {
  font-weight: bold;
  width: 100px;
  display: inline-block;
  color: #444;
  font-size: 12px;
  margin: 0;
}

.CMSVideoItemInfoDetail * {
  line-height: 18px;
  height: 18px;
}

.CMSVideoItemInfoDetail span {
  color: #666;
  font-size: 12px;
}

.CMSVideoEditBoxContent {
  padding: 10px
}

.CMSVideoUploadLoading {
  width: 100%;
  min-height: 120px;
  border: solid 1px #ddd;
  padding: 2px;
  background: #eee;
  position: relative;
}

.CMSUploadHtml5Wrapper {
  position: relative;
}

.CMSHtml5UploadInputWrapperV3 {
  margin-top: 10px;
  width: 550px;
}

.CMSHtml5UploadInputWrapperV3 .ims-video-upload-control-wrapper {
  width: 100%;
}

.CMSHtml5UploadInputWrapperV3 .ims-video-upload-control-wrapper label {
  background-color: #d3394c;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px !important;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

#CMSVideoEditItemAvatarChoose label {
  display: table-cell;
  vertical-align: middle;
  height: 110px;
  overflow: hidden;
  width: 132px;
  border: solid 1px #ccc;
}

#CMSVideoEditItemAvatarChoose img {
  width: 100%;
  margin-bottom: 5px;
}

#CMSVideoEditItemAvatarChoose input[type=radio] {
  border-radius: 50% !important;
}

#CMSVideoEditItemAvatarChoose li {
  list-style-type: none;
  float: left;
  text-align: center;
  padding: 5px;
  vertical-align: top;
}

#CMSVideoEditItemAvatarChoose ul:after {
  clear: both;
}

.CMSButtonBar {
  display: inline-block;
}

.CMSButtonBar .btn, .card-footer .btn {
  color: #fff !important;
  font-weight: bold;
}

.btn-ratting {
  color: #f2b01e !important;
  padding: 0 !important;
}

#CMSHighlightVideo .btn {
  padding: 0 !important;
}

.email-app .inbox .message .actions .action input {
  margin: 0;
}

.email-app .inbox .selected {
  background: #577fbc !important;
}

.email-app .inbox .selected a, .email-app .inbox .selected span {
  color: #fff !important
}

.email-app .btn-info {
  color: #fff !important;
}

.email-app .btn i {
  font-size: 12px;
}

#CMSFixTable th {
  text-align: center;
}

#CMSFixTable .CMSUserStatus, #CMSFixTable .CMSUserEdit, #CMSFixTable .CMSUserResetPass, #CMSFixTable .CMSUserRole {
  text-align: center;
}

.CMSUserName img {
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.CMSUserName a {
  margin-left: 10px;
  margin-top: 16px;
}

.CMSPopupHeader {
  border-bottom: solid 1px #c8c8cc !important;
  color: #666 !important;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 15px
}

.CMSTitlePopup {
  color: #aaa;
  font-weight: bold
}

.CMSPopupBody {
  border: 1px solid #ddd;
  padding: 10px
}

#UpdateProfileUserWrapper {
  width: 100%;
}

#UserAvatar {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  float: left;
  padding: 5px;
  text-align: center;
  width: 112px;
}

#UserAvatarDetail {
  background: url(https://ims.mediacdn.vn/Statics2/Modules/AccountV2/Templates/images/avatar1.gif) no-repeat scroll center center / cover rgba(0, 0, 0, 0);
  cursor: pointer;
  float: left;
  height: 100px;
  margin-bottom: 3px;
  position: relative;
  width: 100px;
}

#UserAvatar img {
  float: left;
  height: 100px;
  max-width: 120px;
  width: 100px;
}

#IMSChangeMyAvatarBtn {
  margin-right: 0px !important;
}

.IMSButton.IMSFlat {
  background: url(https://ims.mediacdn.vn/Statics2/Themes/Cms/images/button/IMSButtonFlat.png) repeat-x scroll 0 0 transparent !important;
  font-weight: normal !important;
  height: 25px !important;
  text-transform: none;
  line-height: 25px !important;
  border-radius: 2px !important;
}

#OtherInfo {
  float: left;
}

#OtherInfo table.Tbl_UserInfo {
  font-size: 12px;
  border-spacing: 5px;
  width: 100%;
  border: 0;
  line-height: 25px;
}

.CMSPopupFooter {
  border-top: solid 1px #ddd;
  margin-top: 15px;
  padding: 15px 0
}

.CMSPopupFooter button {
  background: rgba(0, 0, 0, 0) linear-gradient(#f4f4f4, #ececec) repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  padding: 5px 7px;
  white-space: nowrap;
}

#AccountUpdatePasswordForm {
  padding: 20px;
}

#AccountUpdatePasswordForm input {
  border: #ccc solid 1px;
  width: 270px;
  padding: 2px;
}

.CMSCreateBox {
  border-radius: 1px;
  border: solid 1px #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 1px 2px #ddd;
  display: inline-block;
  width: 100%;
}

.CMSCreateBoxHeader {
  background: #EEEEEE;
  padding: 8px;
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  margin: 0;
}

.CMSCreateBoxContent {
  padding: 10px;
}

.CMSCreateBoxVideoLoading {
  width: 100%;
  min-height: 120px;
  border: solid 1px #ddd;
  padding: 2px;
  background: #eee;
  position: relative;
}

.CMSCreateBoxUploadWrapper {
  position: relative;
  margin: 10px;
}

.CMSCreateBoxUploadWrapper img {
  width: 100%;
}

.CMSUploadVideoLabel {
  background-color: #d3394c;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px !important;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.clearfix {
  clear: both
}

.CMSButtonWrapper {
  width: 84px;
  height: 84px;
  border: 2px dashed #dddddd;
  text-align: center;
  display: block;
  line-height: 84px;
  cursor: pointer;
}

.CMSButtonWrapper i {
  font-size: 30px;
}

.msg-modal-media-images {
  width: 900px !important;
}

.CMCPaginateWrapperMedia {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.CMSOtherImageItem {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 15px;
  position: relative;
}

.CMSOtherImageItem img {
  width: 84px;
  height: 84px;
}

.CMSBTNRemoveImageProgram {
  background: rgba(0, 0, 0, 0) url('./../assets/img/download.png') no-repeat scroll 0 0;
  display: inline-block;
  height: 33px;
  opacity: 0.8;
  position: absolute;
  right: 0;
  text-indent: -99999px;
  top: 0;
  width: 33px;
  z-index: 99;
}

.CMSProgramAvatar, .CMSProgramStatus, .CMSProgramAction {
  text-align: center !important;
  vertical-align: middle !important;
}

.CMSProgramAvatar img {
  width: 150px;
  height: 84px;
}
.CMSProgramName {
  vertical-align: middle !important;
  font-weight: bold;
}

.CMSPageStats {
  display: block;
  margin-right: 15px;
  margin-top: 7px;
}

.CMSButtonFeature {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}

.CMSVideoFeatureWrapper {
  display: block;
}

.CMSVideoFeatureContent {
  padding: 12px;
}

.CMSVideoFeatureLabel {
  width: 489px
}

.CMSVideoFeatureLabel span {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

#CMSLibraryToolBar a {
  background-color: #f5f6f7 !important;
  border-color: #ccd0d5 !important;
  color: #4b4f56 !important;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  line-height: 22px;
  margin-left: 5px;
}

#CMSLibraryToolBar label {
  color: #1d2129;
  font-size: 14px;
  text-transform: none;
  line-height: 28px;
  font-weight: 600;
  font-family: inherit;
  margin-bottom: 0;
}

#CMSToolbarFillter {
  padding: 8px 0 !important;
}

#CMSToolbarFillter label {
  height: 24px;
  padding: 3px 8px 5px;
  font-family: inherit;
  border: 1px solid #dddfe2;
  color: #1d2129;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
}

#CMSToolbarFillter input {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: unset !important;
}

#CMSToolbarFillter input:focus {
  outline: none;
}

.CMSFilterSelect {
  height: 24px;
  display: inline-block;
}

.CMSFilterSelect select {
  height: 100%;
  font-size: 12px;
  padding: 5px;
  border-radius: 0px;
  margin: 0;
  outline: none;
  box-shadow: unset !important;
}

._6ekw {
  color: rgba(144, 148, 156, .7);
  font-size: 12px;
  line-height: 17px;
  margin-top: 12px;
}

#CMSBodyModalVideoHighlight {
  padding: 0;
}

.CMSTabsetModalVideoHighlight {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 660px;
  padding: 0;
  border-radius: 0;
}

.CMSTabsetModalVideoHighlight ul {
  background-color: #f5f6f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 100%;
  border-right: 1px solid #dadde1;
}

.CMSTabsetModalVideoHighlight .tab-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 20px 0 0 20px;
  width: 664px;
  border: none;
}

.CMSTabsetModalVideoHighlight .nav-tabs, .CMSTabsetModalVideoHighlight .nav-tabs .nav-link.active {
  border-radius: 0;
  box-shadow: none;
  color: #3578e5;
}

.CMSTabsetModalVideoHighlight .nav-tabs .nav-link.active {
  background-color: #fff;
  border-right-color: #3578e5;
}

.CMSTabsetModalVideoHighlight ul li a {
  border-left: 2px solid transparent;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  color: #8d949e;
  cursor: pointer;
  line-height: 17px;
  padding: 12px 12px 20px 16px;
  width: 100%;
  box-shadow: none;
}

.CMSTabsetModalVideoHighlight .nav-tabs .nav-link:hover, .CMSTabsetModalVideoHighlight .nav-tabs .nav-link:focus {
  border: none !important;
}

._6rq0 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 8px 20px 8px 0;
}

._6nr7 {
  margin-bottom: 8px;
}

._6rp1 {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  width: 113px;
}

._2ieq {
  font-size: 12px;
  line-height: 16px;
}

._50f7 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.CMSListVideoPublic {
  height: 525px;
  overflow-y: auto;
}

.CMSListVideoPublic:after {
  clear: both;
}

.CMSVideoPublicItem {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
  width: 100%;
}

.CMSVideoPublicItemAvatar {
  flex-grow: 0;
  flex-shrink: 0;
}

._3g12 {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

._28_z {
  overflow: hidden;
  position: relative;
}

._28_- {
  bottom: 0;
  -webkit-filter: blur(20px);
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.1);
  width: 100%;
  z-index: 0;
}

._28__ {
  position: relative;
  z-index: 1;
}

._6nhr {
  border-radius: 4px;
  height: 100px;
  width: 187px;
}

._3g13 {
  background-size: cover;
}

.CMSVideoPublicItemInformation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12px;
}

._6fjq {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

._6fjm {
  word-wrap: break-word;
}

._2iev {
  color: #1c1e21;
}

._50f7 {
  font-weight: 600;
}

._2iem {
  font-size: 14px;
  line-height: 18px;
}

._6nht {
  margin-top: 4px;
}

._2iex {
  color: #606770;
}

._2iep {
  font-size: 12px;
  line-height: 16px;
}

._6gok {
  display: inline-block;
}

._6gok::after {
  content: '\2022';
  margin: 0 4px;
}

._6gok:last-child::after {
  content: initial;
  margin: initial;
}

._6q6n {
  align-items: center;
  border-top: 1px solid #dadde1;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  margin-left: -20px;
  padding: 12px 20px;
}

._6q6n button {
  margin-left: 5px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  border-color: #ccd0d5;
}

.CMSCustomBtn {
  background-color: #4267b2 !important;
  color: #fff !important;
}

.CMSModalListVideoPublished .modal-dialog {
  max-width: 964px !important;
  margin: auto;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

._6nhq {
  display: flex;
  flex-grow: 1;
}

._6osy {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: 113px;
}

._6otz {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.sp_-HmUbA4wUN9.sx_be05da {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}

.sp_-HmUbA4wUN9 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/mmVP3gvBCzr.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}

._6q6f, ._6os_ {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(.12, .8, .32, 1);
}

.sp_-HmUbA4wUN9.sx_4ec9b2 {
  width: 24px;
  height: 24px;
  background-position: 0 -25px;
}

.sp_-HmUbA4wUN9.sx_be05da {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}

.CMSVideoPublicItem:hover ._6q6f, .CMSVideoPublicItem:hover ._6os_, ._6nhp ._6os_, ._6os- ._6os_ {
  opacity: 1;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 1;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#VMVideoEditItemAvatarChoose li {
  list-style-type: none;
  float: left;
  width: 132px;
  text-align: center;
  padding: 5px;
  vertical-align: top;
}

#VMWrapper .VMButton {
  white-space: nowrap;
}

.VMButton.Lower {
  text-transform: capitalize;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
}

.VMButton {
  background: url(https://ims.mediacdn.vn/Statics2/ModuleExtensions/VTV/VideoManagerV2/Templates/images/VMVideoDetailButtonBg.png) repeat-x;
  height: 31px;
  display: inline-block;
  padding: 0 9px;
  border: solid 1px #BDBDBD;
  border-radius: 3px;
  margin: 7px 0px;
  text-transform: uppercase;
  color: #697083;
  cursor: pointer;
  line-height: 31px;
  font-family: arial !important;
  font-size: 12px !important;
  font-weight: bold;
}


.PBoxLeft {
  float: left;
  margin-top: 20px;
}
.PBox {
  border: 1px solid #bfbfc5;
  border-radius: 5px;
  width: 100%;
  height: 219px;
}

.PBox_Header {
  height: 33px;
  background: url(https://ims.mediacdn.vn/Statics2/Modules/AccountV2/Templates/images/HeaderBoxBG.png) repeat-x;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #C1C1C1;
}
.IMSFloatLeft {
  float: left;
  white-space: nowrap;
}
.IMSFloatRight {
  float: right;
  white-space: nowrap;
}
.PRole {
  height: 30px;
  background: url(https://ims.mediacdn.vn/Statics2/Modules/AccountV2/Templates/images/ItemBG.png) repeat-x;
  border-top: 1px solid #d9d8d7;
  border-right: 1px solid #d9d8d7;
  cursor: pointer;
}
.PRole span {
  color: #737373;
  display: inline-block;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 5px;
  overflow: hidden;
  float: left;
}
.PBox_Header span {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
  color: #686868;
  display: inline-block;
  margin-top: 8px;
  margin-left: 12px;
}
.PBox_Body div.PBox_Body_Left {
  width: 40%;
}
.RoleItem:nth-of-type(even) {
  background-color: #f6f6f6;
}
.RoleItem {
  height: 23px;
}
.RoleItem {
  white-space: nowrap;
}
#PermissionUpdate_Body .IMSCheckboxLabel {
  white-space: nowrap;
}
input[type=checkbox].IMSCheckbox + label.IMSCheckboxLabel {
  padding-left: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: -5px -5px;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  text-indent: 8px;
}
.RoleItem input {
  margin-left: 20px !important;
}

.CMSBoxListPermission input[type="radio"] {
  display: none;
}

.CMSBoxListPermission input[type="radio"]:checked + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  cursor: pointer;
  background: url(https://ims.mediacdn.vn/Statics2/Modules/AccountV2/Templates/images/SelectedIcon.png)no-repeat;
  float: right;
  margin-top: 4px
}

.CMSPRole {
  height: 30px;
  background: url(https://ims.mediacdn.vn/Statics2/Modules/AccountV2/Templates/images/ItemBG.png) repeat-x;
  border-top: 1px solid #d9d8d7;
  border-right: 1px solid #d9d8d7;
  cursor: pointer;
}

.CMSPRole label {
  width: 100%;
}
.CMSPRole label b {
  color: #737373;
  display: inline-block;
  font-size: 14px;
  margin-left: 12px;
  margin-top: 5px;
  overflow: hidden;
}
.RoleItem label {
  margin-left: 20px !important;
}
#CMSTabEditor {
  padding: 0;
  float: left;
  height: 100%;
  position: relative;
}
#CMSTabInfo {
  padding: 52px 0;
  float: left;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#NLEditorHeader {
  text-align: center;
  background: #f4f4f4 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding-top: 7px;
}
#NLEditorToolbar {
  padding: 0 0 7px;
  font-size: 14px;
  display: inline-block;
  text-rendering: optimizeLegibility;
}
#NLEditorToolbar > ul {
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}
#NLEditorToolbar > ul li {
  border-right: 1px solid #f4f4f4;
  -moz-user-select: none;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 13px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  color: #777;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
#NLEditorToolbar > ul li i {
  text-rendering: optimizeLegibility;
}
#NLEditorToolbar > ul li:not(.disable):hover {
  background-color: #e4e4e4;
  color: #333;
  border-right: solid 1px transparent;
}
#IMSNewsLayout {
  overflow: auto;
  position: relative;
  background: #f4f4f4;
}
#NLEditorOuter {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  background: #fff;
  height: 100%;
}
#IMSNewsLayout #NLEditor {
  text-align: justify;
  width: 80%;
}
#NLEditor p{
  font-family: Arial, sans-serif;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #3c3c3c;
}
#NLEditor {
  box-sizing: border-box;
  margin: 0 auto;
}
#NLEditor > p {
  border: 1px dashed #cccccc;
}
#NLEditor > p {
  min-height: 30px;
  position: relative;
}
#NLEditor > p {
  margin-bottom: 15px;
}
#NLEditor * {
  box-sizing: border-box;
}
#IMSNewsLayout {
  height: calc(100vh - 250px);
}

#IMSActionBar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  min-height: 30px;
  text-align: right;
}
#TabInfo *, #TabInfo *:focus {
  outline: none !important;
}
#IMSActionBar .NotPermission {
  float: left;
  display: inline-block;
  line-height: 30px;
  font-weight: bold;
  color: #F44141;
  padding: 0 10px;
  font-size: 13px;
}
#IMSActionBar .btn.btn-default {
  background: #c7c7c7 !important;
}
#IMSActionBar .btn {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  color: #FFF !important;
  text-shadow: none !important;
}
.IMSInfoBlock {
  margin-bottom: 11px;
  position: relative;
  padding: 0 15px;
}
#IMSNewsInfo .IMSInfoBlockName {
  border-left: 4px solid #16a086;
}
.IMSInfoBlockName {
  background: #e4e4e4;
  padding: 0 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  z-index: 9;
  height: 38px;
  display: block;
  line-height: 39px;
  padding-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
#IMSNewsInfo .IMSInfoBlockContent, #IMSThirdInfoBlock .IMSInfoBlockContent {
  padding-top: 15px;
}
/*.IMSInfoBlock .IMSInfoBlockName {
  position: fixed;
}*/
#CMSTabInfo label {
  display: block !important;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
#CMSTabInfo .form-control, #IMS_CheckTitle_Btn {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  font-family: Arial, sans-serif;
  -moz-border-radius: 0 !important;
}
#CMSTabInfo .form-control {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.IMS_RightLabel {
  color: #888888;
  text-align: right;
  margin-bottom: 10px !important;
  font-size: 12px;
  line-height: 19px;
  margin-top: 0px;
}
.IMSRequireField {
  color: #ff0000;
}
#IMS_FormEdit_Title {
  resize: none;
  height: 50px !important;
  margin-bottom: 10px;
  font-weight: bold;
}
#IMSTabInfoDetail {
  height: calc(100vh - 295px);
  position: relative;
}
#IMSThirdInfoBlock .IMSInfoBlockName {
  border-left: 4px solid #5870cb;
}
#IMS_FormEdit_Date {
  width: 100%;
}
#IMSNewsEditWrapper .btn.btn-success {
  background: #16a086 !important;
}
#IMSNewsEditWrapper .btn {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  color: #FFF !important;
  text-shadow: none !important;
  padding: 5px 10px;
  font-size: 12px;
}
#IMSNewsEditWrapper {
  width: 100%;
}
#IMSNewsEditWrapper .btn.btn-primary {
  background: #5870cb !important;
}
#IMSNewsEditWrapper .btn:hover {
  opacity: 0.9;
  filter: alpha(opacity = 90);
}
#IMSSelectedAvatarList.large-screen {
  margin: 0 -10px;
}
.large-screen .ims-avatar-col {
  width: 16.66666667%;
  padding: 10px;
}
.ims-avatar-col {
  padding: 5px;
  width: 25%;
  float: left;
}
.IMSNewsAvatarItem {
  position: relative;
  cursor: pointer;
  padding-top: 70%;
  background-size: cover;
  border: 1px solid #F2F2F2;
  overflow: hidden;
  background: #FFF;
}
#IMSSelectedAvatarList {
  overflow: hidden;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  margin: 0 -5px;
}
.IMSNewsAvatarItem img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  max-height: 100%;
}
.cms_bm_view_full_avatar {
  display: inline-block;
  height: 33px;
  opacity: 0.8;
  position: absolute;
  right: 0;
  text-indent: -99999px;
  top: 0;
  width: 33px;
  z-index: 99;
}
.cms_bm_watermark_avatar {
  background-color: #c1c1c1;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  left: 40px;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  display: none;
}
.cms_bm_watermark_avatar:hover {
  background-color: red;
}

#CMSListPostWrapper {
  max-height: calc(100vh - 380px);
  position: relative;
}

#IMSTopFilter {
  background: #F0F0F0;
  border-radius: 0;
  display: inline-block;
  width: 100%;
}
#IMSTopFilterContent {
  padding: 10px;
  height: 50px;
}
#IMSPager {
  float: right;
  position: relative;
}
.IMSPagerStats {
  font-weight: bold;
  font-family: tahoma;
  font-size: 12px;
  color: #444;
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
.IMSPagerStats span {
  font-weight: normal;
}
.IMSPagerButtonWrapper {
  display: inline-block;
}
#IMSTopFilter input[type="text"]#IMSPagerCurrentPageNumber {
  float: left;
  margin-right: 10px;
  width: 15px;
  border-radius: 0;
}
#IMSTopFilter input[type=text] {
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px #DDDDDD inset;
  padding: 5px;
  width: 100px;
  border-radius: 4px;
}
.IMSPagerButtonWrapper button:disabled {
  opacity: 0.6;
}
.IMSPagerButtonWrapper .IMSPager_Next {
  background-position: -30px 0;
}

.IMSPagerButtonWrapper button {
  background: url(https://ims.mediacdn.vn/Statics2/ModuleExtensions/VTV/NewsListV2/Templates/images/IMSPagerIcon.png) no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  box-sizing:  unset !important;
  padding: 0 !important;
  outline:  none !important;
  margin-left: 0 !important;
  border: none;
}
.IMSPager_Back {
  margin-right: 5px;
}

.IMSFilterItem {
  float: left;
}

#IMSTopFilter select {
  width: 145px;
  padding: 2px;
  border: solid 1px #ccc;
}
input.hasDatepicker {
  background: url(https://ims.mediacdn.vn/micro/widget/statics/images/IMSDatePickerTriggerBg.png) #fff 5px center no-repeat !important;
  text-indent: 20px;
  color: #333;
  font-size: 12px;
}
#IMSListActionBar {
  box-shadow: 1px -3px 3px -4px #999 inset;
}
#IMSListActionBarContent {
  padding: 10px;
  display: inline-block;
}
.IMSActionButton {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  font: 12px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  margin-right: 15px;
  float: left;
  width: 45px;
  height: 18px;
  box-sizing: unset;
}
.IMSActionButton:hover {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #3c8dde;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
.IMSActionButton i {
  background: url(https://ims.mediacdn.vn/Statics2/Themes/Cms/images/IMSNewsActionIcon.png) no-repeat scroll 0 0 transparent;
  display: inline-block !important;
  font-style: normal;
  text-indent: -9999px;
  width: 20px;
  height: 17px;
}
#IMSListActionBar .IMSActionButton:hover i {
  background-image: url(https://ims.mediacdn.vn/Statics2/ModuleExtensions/VTV/NewsListV2/Templates/images/IMSNewsActionIconHover.png);
}
#IMSListActionBarContent #IMSListAction_Preview i {
  background-position: -140px 1px;
}

.IMSActionButtonGroup {
  display: inline-block;
  list-style: none;
  float: left;
  margin-right: 15px;
}
.IMSActionButtonGroup > .IMSActionButton.IMSFirstButton {
  border-radius: 3px 0 0 3px !important;
}
.IMSActionButtonGroup .IMSActionButton {
  margin: 0;
  margin-left: -1px;
}
.IMSActionButtonGroup > .IMSActionButton.IMSMiddleButton {
  border-radius: 0 !important;
}
.IMSActionButtonGroup > .IMSActionButton.IMSLastButton {
  border-radius: 0px 3px 3px 0px !important;
}
#IMSListActionBarContent #IMSListAction_Return i {
  background-position: -312px 0;
}
#IMSListActionBarContent #IMSListAction_Release i {
  background-position: -382px 0;
}
#IMSListActionBarContent #IMSListAction_GetBack i {
  background-position: 0px -1px;
}
#IMSListActionBarContent #IMSListAction_Receive i {
  background-position: -76px -1px;
}
#IMSListActionBarContent #IMSListAction_Send i {
  background-position: -453px 0;
}
#IMSListActionBarContent #IMSListAction_Publish i {
  background-position: -453px 0;
}
#IMSListActionBarContent #IMSListAction_Restore i {
  background-position: -313px -1px;
}
#IMSListActionBarContent #IMSListAction_RemoveNewsCache i {
  background-position: -845px 0;
}
#CMSLibraryToolBar {
  border:  none !important;
}
.IMSNewsItem_Category {
  top: 1px;
  color: #00aded;
  cursor: pointer;
  float: left;
  font-size: 11px;
  font-weight: bold;
  padding: 2px;
  position: absolute;
  right: 15px;
}
.IMSNewsItem {
  border: none !important;
  border-radius: 5px;
}
.IMSNewsItem:nth-of-type(odd) {
  background: #f0f3f5;
}
.IMSNewsItem.IMSSelectedNewsItem {
  background: none repeat scroll 0 0 #E8F4F7;
  border: 2px solid #CCCCCC !important;
}
.IMSNewsItemTitle {
  padding-right: 20px;
  display: inline-block;
  float: left;
  font-size: 13px;
  color: #444;
  clear: right;
  cursor: pointer;
}
.IMSNewsItem_Header {
  margin: 0 !important;
}
.IMSNewsItem_Statistics {
  color: #9F9F9F;
}
.IMSNewsItem_Statistics {
  display: inline-block;
  margin-top: 2px;
  min-width: 265px;
}
.IMSNewsItem img {
  width: 45px;
  height: 45px;
  padding: 2px;
  border: solid 1px #ddd;
  display: inline-block;
  background: #fff;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
.IMSNewsItemAction {
  display: block !important;
  margin-left: 5px;
}
.IMSNewsItem_CreatedDate {
  color: #444444;
  float: right;
  font-size: 11px;
  margin-top: 2px;
}
.IMSNewsItemDateField {
  display: inline-block;
  text-align: right;
  width: 135px;
}
.IMSNewsStatsSortColumn {
  display: inline-block;
  float: left;
  margin-right: 7px;
  color: #9F9F9F;
}
.IMSNewsItemTitle, .IMSNewsStatsSortColumn {
  white-space: nowrap;
}
#IMSListActionBarContent #IMSListAction_Edit i {
  background-position: -226px 0;
}
.custom-spinner-template {
  height: 50% !important;
  width: 50% !important;
  top: 26% !important;
  left: 24% !important;
}

.CMSLoading {
  width: 250px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 40%;
  background: url(../assets/img/loading.svg) no-repeat #FFF;
  z-index: 99999999999999999;
  border: 1px solid #ddd;
  border-radius: 20px;
  line-height: 30px;
  display: block;
}

.VCSortableInPreviewMode[type="photo"] {
  text-align: center;
}
.VCSortableInPreviewMode {
  display: inline-block;
  margin: 0 auto 15px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
  z-index: 100;
  visibility: visible;
  word-wrap: break-word;
  cursor: default;
}
.VCSortableInPreviewMode img {
  pointer-events: none;
  width: 100%;
}
.VCSortableInPreviewMode video {
  width: 100% !important;
}
#NLEditor .PhotoCMS_Caption, #NLEditor .PhotoCMS_Caption p {
  color: #666;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
#NLEditor * {
  box-sizing: border-box;
}
.VCSortableInPreviewMode[type=photo] .PhotoCMS_Caption {
  font-style: italic;
}
.VCSortableInPreviewMode[type="photo"] .PhotoCMS_Caption {
  color: #333333;
  font-style: italic;
}
.PhotoCMS_Caption {
  min-height: 30px;
}
.PhotoCMS_Caption, .VideoCMS_Caption {
  position: relative;
  cursor: text;
}
#NLEditor [contentEditable="true"]:empty:not(:focus)::before {
  content: attr(placeholder);
}

.NLPlaceholderShow::after, .NLPlaceholderShow:after {
  color: #ccc;
  content: attr(data-placeholder) !important;
  font-style: normal;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: pre;
  width: 100%;
}
#NLEditor .PhotoCMS_Caption, #NLEditor .PhotoCMS_Caption p:focus {
  outline:  none;
}
#NLElementFunc {
  background: #333 none repeat scroll 0 0;
  margin-left: 0;
  position: absolute;
  top: -21px;
  transition: none 0s ease 0s;
  width: auto;
  z-index: 999;
  font-family: tahoma;
  font-size: 13px;
  line-height: 33px;
  height: 33px;
  display: block;
}
#NLElementFunc li {
  text-align: center;
  border-right: 1px solid #444;
  color: #fff;
  cursor: pointer;
  float: left;
  position: relative;
  width: 33px;
  height: 33px;
}

#NLFuncEnter {
  background: transparent url(https://ims.mediacdn.vn/Statics2/Core/Plugins/newslayout/images/enter_icon.png) no-repeat scroll center bottom;
  bottom: 0;
  cursor: pointer;
  font-family: tahoma;
  font-size: 13px;
  height: 130px;
  line-height: 33px;
  position: absolute;
  right: -29px;
  width: 30px;
  z-index: 999;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
  left: 40px;
}
.medium-insert-buttons {
  background: none repeat scroll 0% 0% #FFF;
  height: 30px
}
.media-play-button {
  background-image: url(https://ims.mediacdn.vn/micro/widget/statics/images/VMplay_img_video.png);
  bottom: 0;
  cursor: pointer;
  height: 80px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
.overlay.nsm-overlay-open {
  z-index: 1060 !important;
}
.upload-aria {
  max-width: 9rem;
  display: block;
  margin: auto auto .25rem;
}
